{% extends 'base.html.twig' %}

{% block title %}{{ formation.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ formation.title}}</h1>
        {{ formation.id }}
    </div>

{% endblock %}