{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section id="welcome">
        <div class="container welcome-div">
            <h1>Apprenez l'éco-conception web avec EcoIT</h1>
            <p class="leading welcome-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
            </p>
            <a class="btn btn-success" href="#">Toutes nos formations</a>
        </div>
    </section>
    <section id="last-lessons">

    </section>
{% endblock %}
